a {
  padding: 0.5rem
}
.body-container {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 80vw;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

.block-ref {
background: yellow

}

/* ↓ targets the intermediary wrapper */
.with-sidebar > * {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5rem;
  border: 3px solid green;
}

.with-sidebar > * > * {
  /* ↓ applies to both elements */
  margin: 0.5rem;
}

.sidebar {
  flex-basis: 20rem;
  flex-grow: 1;
  border: 3px solid red;
}

.main {
  /* ↓ grow from nothing */
  flex-basis: 0;
  border: 3px solid blue;
  flex-grow: 999;
  min-width: calc(50% - 1rem);
}

.yell {
    background-color: yellow
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}
